body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo {
    font-size: 24px;
}

.filter-sort {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.filter-btn,
.sort-btn {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #06f;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.product-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}

.product-card p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.add-to-cart-btn {
    margin-left: 40px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #06f;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.filter-btn:hover,
.sort-btn:hover,
.add-to-cart-btn:hover {
    background-color: #FFA500;
}

@media screen and (max-width: 768px) {
    .product-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .product-card img {
        max-width: 100%;
    }
}
